.jumbotron {
        margin: 60px 0;
        text-align: center;
}

.flaky-query {
  padding: 5px;
  margin-bottom: 7px;
  background-color: #B9AFAE;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.flaky-response {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #E5E6DE;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}


.flaky-movie {
  padding: 5px;
  margin-bottom: 7px;
  background-color: #DE661A;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.movietitle {
    color: #E5E6DE;
}
